-# = link_to "#" do
-#   %figure.img-new
-#     = image_tag('material/product-img/a007.png',class:"prod-img")
-#   .product-box
-#     = posts_path(post.id), method: :get
-#     .details
-#       %ul.money-box
-#         %li.price 1000円
-#         %li
-#           %i.fas.fa-star
-#           0
-#       %p.tax (税込)