.list-new
  - @posts.each do |post|
    = link_to post_path(post) do
      .product
        .img-new
          -# %p.post-box-image-top= image_tag post.image.url
          -if post.buyer_id.present? 
            .img-new-sold
              .img-new-sold-text
                sold
          .info
          %p.post-name-top 
            = post.name 
            %br/
            ¥
            - price = post.price*1.1
            = price.truncate
            (税込)
            %i.fas.fa-star
              0