<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css呼び出し -->
    <link rel="stylesheet" href="app/assets/stylesheets/styles.css">
    <link rel="stylesheet" href="app/assets/stylesheets/reset.css">
    <!-- FontAwesome呼び出し -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  </head>


  <body>
    <header class="search-bar">
      <!-- 検索バー -->
      <div class="search-box">
        <div class="search-box-icon">
          <img src="app/assets/material/logo/logo.png" class="header-logo">
        </div>
        <div class="search-box-text">
          <form class="input-form">
            <input class="search" type="text" name="search"  placeholder="キーワードから探す" class="inputform">
            <div class="submit-icon" >
              <input class="submitbtn" type="image" name="submit" src="app/assets/material/icon/icon-search1.png"> 
            </div> 
          </form>
        </div>
      </div>
      <!-- navbar（カテゴリーetc）、トップイメージなど -->
      <div class="search-nav">
        <ul class="left-lists">
          <li class="category">
            <a href="#">カテゴリー</a>
            <!-- マウスオーバー記述中 -->
            <!-- <div class="category-pulldown">
              <ul class="categorytree">
                <li class="categorytree-item">
                  <a class="1" href="#">レディース</a>
                </li>
                <li class="categorytree-item">
                  <a class="2" href="#">メンズ</a>
                </li>

              </ul>
            </div>

          </li> -->
          <a href="#"><li class="brand">ブランド</li></a>
        </ul>
        <ul class="right-lists">
          <a href="#"><li class="login">ログイン</li></a>
          <a href="#"><li class="new">新規会員登録</li></a>
        </ul>
      </div>
      <div class="picture">
        <div class="picture-box">
        <h2>人生を変えるフリマアプリ</h2>
        <p>FURIMAはだれでもかんたんに出品・購入できる<br>フリマアプリです</p>
        <div>
          <div class="content-btn">
            <a class="app-btn" href="#">
              <img src="app/assets/material/icon/app-store.svg" class="abtn">
            </a>
            <a class="goo-btn" href="#">
              <img src="app/assets/material/icon/google-play.svg" class="gbtn">
            </a>

          </div>
        </div>
        </div>
      </div>
    </header>
    
    <!-- 選ばれる理由 -->
    <div id="top-introduction">
      <h2 class="title">FURUMAが選ばれる3つの理由</h2>
      <ul class="lists">
        <li class="list">
          <div class="list-pic">
            <span class="number">1</span>
            <img src="app/assets/material/pict/pict-reason-01.jpg" class="list-img"> 
          </div>
          <h2 class="list-text"><span>3分</span> ですぐに出品</h2>
          <p class="list-intro">スマホで入力するだけで簡単に出品できる！</p>
        </li>
        <li class="list">
          <div class="list-pic">
            <span class="number">2</span>
            <img src="app/assets/material/pict/pict-reason-02.jpg" class="list-img">
          </div>
          <h2 class="list-text"><span>シンプル</span> で使いやすい</h2>
          <p class="list-intro">めんどくさい入力は必要なく、検索も購入もスムーズ！</p>
        </li>
        <li class="list">
          <div class="list-pic">
            <span class="number">3</span>
            <img src="app/assets/material/pict/pict-reason-03.jpg" class="list-img">
          </div>
          <h2 class="list-text">手数料 <span>業界最安</span></h2>
          <p class="list-intro">最大3%でお得に出品&購入！</p>
        </li>
      </ul>
    </div>  
    
    <!-- 会員数日本一 -->
    <div id="middle-ad">
      <div class="middle-picture">
        <div class="middle-picture-box">
          <h2>会員数日本一位</h2>
          <p>FURIMAは、フリマアプリで最も人気。
          <br>出品・購入回数も業界最多です！
          <br>ほしかったあの商品に出会えるかもしれません。</p>
          <div>
            <div class="content-btn">
              <a class="app-btn" href="#">
                <img src="app/assets/material/icon/app-store.svg" class="abtn">
              </a>
              <a class="goo-btn" href="#">
                <img src="app/assets/material/icon/google-play.svg" class="gbtn">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- FURIMAの特徴 -->
    <div id="features">
        <h2 class="title-fea">FURIMAの特徴</h2>
        <ul class="list-fea">
          <li class="item-fea">
            <div class="list-pic-fea">
              <img src="app/assets/material/icon/icon-01.png" class="list-img-fea"> 
            </div>
            <h2 class="list-text-fea">簡単に売り買いできる</h2>
            <p class="list-intro-fea">スマホひとつで、いつでもどこでも簡単に出品・購入が可能！</p>
          </li>
          <li class="item-fea">
            <div class="list-pic-fea">
              <img src="app/assets/material/icon/icon-03.png" class="list-img-fea">
            </div>
            <h2 class="list-text-fea">売上金は即日振込みに対応</h2>
            <p class="list-intro-fea">午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!</p>
          </li>
          <li class="item-fea">
            <div class="list-pic-fea">
              <img src="app/assets/material/icon/icon-04.png" class="list-img-fea3" >
            </div>
            <h2 class="list-text-fea">様々な支払いに対応</h2>
            <p class="list-intro-fea">お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。</p>
          </li>
        </ul>
    </div>
  <!-- ピックアップカテゴリー新規投稿商品 -->
    <div id="pickup-new">
      <h2 class="title-new">ピックアップカテゴリー</h2>
      <div class="itembox-new">
        <div class="header-new">
          <h3 class="text-new">新規投稿商品</h3>
        </div>
        <div class="lists-new">
          <div class="list-new">
            <a href="#">
              <figure class="img-new">
                <img src="app/assets/material/product-img/IMG_9072.jpeg" alt="img1" class="prod-img">
              </figure>
              <div class="product-box">
                <h3 class="prod-name">ee</h3>
                <div class="details">
                  <ul class="money-box">
                    <li class="price">1000円</li>
                    <li>
                      <i class="fas fa-star"></i>
                      0
                    </li>
                  </ul>
                  <p class="tax">(税込)</p>
                </div>
              </div>
            </a>
          </div>
          <div class="list-new">
            <a href="#">
              <figure class="img-new">
                <img src="app/assets/material/product-img/a007.png" alt="img2" class="prod-img">
              </figure>
              <div class="product-box">
                <h3 class="prod-name">ee</h3>
                <div class="details">
                  <ul class="money-box">
                    <li class="price">1000円</li>
                    <li>
                      <i class="fas fa-star"></i>
                      0
                    </li>
                  </ul>
                  <p class="tax">(税込)</p>
                </div>
              </div>
            </a>
          </div>
          <div class="list-new">
            <a href="#">
              <figure class="img-new">
                <img src="app/assets/material/product-img/a004.png" alt="img3" class="prod-img">
              </figure>
              <div class="product-box">
                <h3 class="prod-name">ee</h3>
                <div class="details">
                  <ul class="money-box">
                    <li class="price">1000円</li>
                    <li>
                      <i class="fas fa-star"></i>
                      0
                    </li>
                  </ul>
                  <p class="tax">(税込)</p>
                </div>
              </div>
            </a>
          </div>
          <div class="list-new">
            <a href="#">
              <figure class="img-new">
                <img src="app/assets/material/product-img/a001.png" alt="img4" class="prod-img">
              </figure>
              <div class="product-box">
                <h3 class="prod-name">ee</h3>
                <div class="details">
                  <ul class="money-box">
                    <li class="price">1000円</li>
                    <li>
                      <i class="fas fa-star"></i>
                      0
                    </li>
                  </ul>
                  <p class="tax">(税込)</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

<!-- ピックアップブランド アーカイバ -->
    <div id="pickup-new">
      <h2 class="title-new">ピックアップブランド</h2>
      <div class="itembox-new">
        <div class="header-new">
          <h3 class="text-new">アーカイバ</h3>
        </div>
        <div class="lists-new">
          <div class="list-new">
            <a href="#">
              <figure class="img-new">
                <img src="app/assets/material/product-img/IMG_9072.jpeg" alt="img1" class="prod-img">
              </figure>
              <div class="product-box">
                <h3 class="prod-name">ee</h3>
                <div class="details">
                  <ul class="money-box">
                    <li class="price">1000円</li>
                    <li>
                      <i class="fas fa-star"></i>
                      0
                    </li>
                  </ul>
                  <p class="tax">(税込)</p>
                </div>
              </div>
            </a>
          </div>
          <div class="list-new">
            <a href="#">
              <figure class="img-new">
                <img src="app/assets/material/product-img/a007.png" alt="img1" class="prod-img">
              </figure>
              <div class="product-box">
                <h3 class="prod-name">ee</h3>
                <div class="details">
                  <ul class="money-box">
                    <li class="price">1000円</li>
                    <li>
                      <i class="fas fa-star"></i>
                      0
                    </li>
                  </ul>
                  <p class="tax">(税込)</p>
                </div>
              </div>
            </a>
          </div>
          <div class="list-new">
            <a href="#">
              <figure class="img-new">
                <img src="app/assets/material/product-img/a004.png" alt="img1" class="prod-img">
              </figure>
              <div class="product-box">
                <h3 class="prod-name">ee</h3>
                <div class="details">
                  <ul class="money-box">
                    <li class="price">1000円</li>
                    <li>
                      <i class="fas fa-star"></i>
                      0
                    </li>
                  </ul>
                  <p class="tax">(税込)</p>
                </div>
              </div>
            </a>
          </div>
          <div class="list-new">
            <a href="#">
              <figure class="img-new">
                <img src="app/assets/material/product-img/a001.png" alt="img1" class="prod-img">
              </figure>
              <div class="product-box">
                <h3 class="prod-name">ee</h3>
                <div class="details">
                  <ul class="money-box">
                    <li class="price">1000円</li>
                    <li>
                      <i class="fas fa-star"></i>
                      0
                    </li>
                  </ul>
                  <p class="tax">(税込)</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

<!-- いますぐ無料ダウンロード -->
    <div id="bottom-ad">
      <div class="bottom-picture">
        <div class="bottom-picture-box">
        <h2>だれでもかんたん、人生を変えるフリマアプリ</h2>
        <p>今すぐ無料ダウンロード！</p>
        <div>
          <div class="content-btn">
            <a class="app-btn" href="#">
              <img src="app/assets/material/icon/app-store.svg" class="abtn">
            </a>
            <a class="goo-btn" href="#">
              <img src="app/assets/material/icon/google-play.svg" class="gbtn">
            </a>
          </div>
        </div>
      </div>
    </div>
  
  
  
  
  
  
  
    </div>
    
<!-- フッター -->
    <div id="footer">
      <ul class="contents">
        <li class="content">
          <h2 class="title-foot">FURIMAについて</h2>
          <ul>
            <li><a href="#">会社概要（運営会社）</a></li>
            <li><a href="#">プライバシーポリシー</a></li>
            <li><a href="#">FURIMA利用契約</a></li>
            <li><a href="#">ポイントに関する特約</a></li>
          </ul>
        </li>
        <li class="content">
          <h2 class="title-foot">FURIMAを見る</h2>
          <ul>
            <li><a href="#">カテゴリー一覧</a></li>
            <li><a href="#">ブランド一覧ー</a></li>
          </ul>
        </li>
        <li class="content">
          <h2 class="title-foot">ヘルプ＆ガイド</h2>
          <ul>
            <li><a href="#">FURIMAガイド</a></li>
            <li><a href="#">FURIMAロゴ利用ガイドライン</a></li>
            <li><a href="#">お知らせ</a></li>
          </ul>
        </li>
      </ul>
      <div class="logo-foot">
        <a href="#">
          <img src="app/assets/material/logo/logo-white.png" alt="logo" class=biglogo>
        </a>
      </div>
      <p class="minilogo">© FURIMA</p>
    </div>

<!-- 出品アイコン -->
  <a href="#">
    <div class="purchase-box">
        <span class="purchase-text">出品する</span>
        <img src="app/assets/material/icon/icon_camera.png" alt="camera" class="camera-image">
    </div>
  </a>
  </body>

</html>