.Render
  = render "template/header"
  .main
    .side-bar
      .side-bar__mypage
        %ul
          %li 
            =link_to 'マイページ',"#", class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'お知らせ',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'やることリスト',"#" , class:"list" 
            %i.fas.fa-chevron-right
          %li 
            =link_to 'やることリスト',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'いいね！一覧',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '出品する',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '下書き一覧',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '出品した商品 - 出品中',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '出品した商品 - 取引中',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '出品した商品 - 売却済み',"/posts/update" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '購入した商品 - 取引中',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '購入した商品 - 過去の取引',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'ニュース一覧',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '評価一覧',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'ガイド',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'お問い合わせ',"#" , class:"list"
            %i.fas.fa-chevron-right

      .side-bar__setting
        %h1 設定
        %ul
          %li 
            =link_to 'プロフィール',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '発送元・お届け先住所変更',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '支払い方法', "/cards/new" , class:"list"
            %i.fas.fa-chesvron-right
          %li 
            =link_to 'メール/パスワード',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '本人情報',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to '電話番号の確認',"#" , class:"list"
            %i.fas.fa-chevron-right
          %li 
            =link_to 'ログアウト' ,"/users/new", method: :delete, class:"list"
            %i.fas.fa-chevron-right
    .main-page
      .main-page__profile
        .main-page__history
          .main-page__history__list
            %h2 支払い情報
            %ul
              %li クレジットカード
              %li 
                =link_to '新規カードを登録する' ,"/cards/show"
              %li.bottom 選択した支払い方法を使う


= render partial: "template/footer"