.contents-create.row
  .success
    %h3.post-success 出品が完了しました
    %p.success-attention
      出品した商品は「
      %a.success-a{:href => "/posts/:id"}> 出品した商品
      」からいつでも見ることができます
    .btns
      %a.btn.btn-again{:href => "/posts/new"} 続けて出品する
      %a.btn.btn-watch{:href => "posts/:id"} 出品した商品を見る
      %a.btn.btn-mypage{:href => "/users/show"} マイページを見る
      %a.btn.btn-top{:href => "/"} トップページへ戻る
