@charset "UTF-8";
.html, body {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: 'Lato', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
}

.wrap {
  overflow: hidden;
}

header .search-box {
  width: 85%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 90px;
  margin-bottom: -10px;
}

header .search-box .header-logo {
  width: 140px;
  height: 41px;
  margin-right: 30px;
  margin-top: 5px;
}

header .search-box .search-box-text {
  width: 100%;
  height: 100%;
  margin-top: 33px;
}

header .search-box .search-box-text .input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .search-box .search-box-text .input-form .search {
  width: calc(100% - 26px);
  height: 33px;
  padding: 0 0 0 5px;
  font-size: 15px;
}

header .search-box .search-box-text .input-form .submitbtn {
  width: 23px;
  height: 22px;
  border: 0;
  cursor: pointer;
  background-color: #3CCACE;
  padding: 8px;
}

header .search-nav {
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 60px;
}

header .search-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .search-nav ul a {
  text-decoration: none;
  color: black;
}

header .search-nav ul a .new {
  padding-left: 16px;
  padding-right: 30px;
}

header .search-nav .left-lists .category {
  padding: 0 30px;
}

header .picture {
  height: 560px;
  background-size: cover;
  background-image: url(material/pict/bg-mainVisual-pict_pc.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .picture h2 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 60px;
  line-height: 1.2;
  color: #fff;
  margin-top: 50px;
}

header .picture p {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 18px;
  color: #fff;
  line-height: 1.77778;
  margin: 16px 0 30px 0;
}

header .picture .content-btn {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .picture .content-btn .abtn {
  height: 53px;
  width: 180px;
}

header .picture .content-btn .gbtn {
  height: 53px;
  width: 180px;
  margin-left: 10px;
}

.bredcrumbs {
  border-top: 1px solid #eee;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
  position: relative;
  padding: 0px 60px;
  height: 55px;
}

.bredcrumbs ul {
  padding: 17px 16px;
  font-size: 14px;
  margin: 0 auto;
  display: block;
}

.bredcrumbs ul li {
  padding: 0 10px 0 0;
  float: left;
}

.bredcrumbs ul a {
  color: black;
  text-decoration: none;
}

#main {
  background: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 90px;
}

#main .content {
  background-color: #fff;
  margin-top: 40px;
  height: 1240px;
}

#main .content .itembox__name {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding: 20px 0;
}

#main .content .itembox__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .content .itembox__body .main-image {
  height: 350px;
  width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

#main .content .itembox__body .imgbox-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .content .itembox__body .imgbox-small .subimage {
  margin: 0 10px;
}

#main .content .itembox__price {
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main .content .itembox__price .price {
  font-size: 46px;
  font-weight: bold;
  margin: 0 10px 0 0;
  text-align: center;
  line-height: 50px;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

#main .content .itembox__price .itembox__tax {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main .content .itembox__price .itembox__tax span {
  font-size: 16px;
  padding: 0 3px;
}

#main .content .itembox__text {
  font-size: 16px;
  font-weight: bold;
  padding: 0 40px;
}

#main .content .itembox__detail {
  padding: 24px 40px 40px 40px;
}

#main .content .itembox__detail table {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  width: 100%;
  height: 375px;
  border-collapse: collapse;
  border: 1px solid #f8f8f8;
}

#main .content .itembox__detail table th {
  width: 20%;
  background-color: #eee;
  font-weight: 400;
  padding: 8px;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

#main .content .itembox__detail table td {
  width: 61%;
  padding: 15px 15px;
  border: 1px solid #dedede;
  font-size: 14px;
}

#main .content .itembox__detail table a {
  text-decoration: none;
  color: #3CCACE;
}

#main .content .itembox__area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 40px;
  margin-top: -10px;
}

#main .content .itembox__area .likebtn-box {
  margin-right: auto;
  padding: 8px 12px;
  border-radius: 40px;
  color: #3CCACE;
  border: 1px solid #ffb340;
}

#main .content .itembox__area .report {
  padding: 7px 10px;
  display: inline-block;
  border-radius: 4px;
  color: #333;
  border: 1px solid #333;
  text-decoration: none;
}

#main .content .itembox__area .report a {
  text-decoration: none;
  color: black;
}

#main .commentbox {
  margin-top: 10px;
  background-color: white;
  height: 290px;
}

#main .commentbox .new-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 24px;
}

#main .commentbox p {
  padding: 10px;
  font-size: 14px;
  background-color: #f8f8f8;
  margin: 20px 0;
  text-align: left;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

#main .commentbox .commentbtn {
  text-align: center;
  line-height: 48px;
  background: #3CCACE;
  border: 1px solid #3CCACE;
  color: #fff;
  font-size: 18px;
  border-radius: 100px;
  display: block;
  width: 400px;
  margin: 0 auto;
}

.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #f8f8f8;
  padding: 10px 90px;
}

.links a {
  text-decoration: none;
  color: #3CCACE;
  font-size: 16px;
}

.recommended-items {
  padding: 10px 90px;
  background: #f8f8f8;
}

.recommended-items a {
  display: block;
  margin: 24px 0 8px;
  color: #3CCACE;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
  position: relative;
}

.recommended-items__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.recommended-items__lists .recommended-items__list {
  width: 220px;
  height: 150px;
  position: relative;
  overflow: hidden;
  margin: 0;
  z-index: auto;
}

.recommended-items__lists .recommended-items__list .prod-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: auto;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.recommended-items__lists .recommended-items__img {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  padding: 16px;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  margin-bottom: 40px;
}

.recommended-items__lists .recommended-items__img .prod-name {
  overflow: hidden;
  line-height: 1.5;
  font-size: 16px;
  text-align: left;
}

.recommended-items__lists .recommended-items__img .money-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recommended-items__lists .recommended-items__img .money-box li {
  font-size: 16px;
}

.recommended-items__lists .recommended-items__img .money-box .price {
  font-size: 16px;
}

.recommended-items__lists .recommended-items__img .tax {
  font-size: 10px;
}

.bottom-picture {
  height: 350px;
  background-size: cover;
  background-image: url(material/pict/bg-appBanner-pict.jpg);
  background-position: center;
}

.bottom-picture .bottom-picture-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 40px;
}

.bottom-picture .bottom-picture-box h2 {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  text-align: center;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
}

.bottom-picture .bottom-picture-box p {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 35px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.bottom-picture .bottom-picture-box .content-btn {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-picture .bottom-picture-box .content-btn .abtn {
  height: 53px;
  width: 180px;
}

.bottom-picture .bottom-picture-box .content-btn .gbtn {
  height: 53px;
  width: 180px;
  margin-left: 10px;
}

#footer {
  background-color: #272727;
  padding: 60px 0;
}

#footer .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 140px;
}

#footer .contents .title-foot {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  color: #fff;
  text-align: center;
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: bold;
}

#footer .contents a {
  color: white;
  text-decoration: none;
}

#footer .contents ul {
  color: #fff;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
}

#footer .logo-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .logo-foot .biglogo {
  height: 45px;
  margin-bottom: -8px;
}

#footer .minilogo {
  color: white;
  text-align: center;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.purchase-box {
  width: 90px;
  height: 86px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.purchase-box .purchase-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.purchase-box .camera-image {
  height: 54px;
  width: 54px;
}
/*# sourceMappingURL=styles.css.map */