// 基本設定//
.html,body{
  height: 100%;
}

body {
	font-size: 14px;
	font-family: 'Lato', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
}
// 基本設定ここまで//
.wrap{
  overflow:hidden;
}
header{
  .search-box{
    width: 85%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 90px;
    margin-bottom: -10px;
    .header-logo{
      width: 140px;
      height: 41px;
      margin-right: 30px;
      margin-top: 5px;
    }
    .search-box-text{
      width: 100%;
      height: 100%;
      margin-top: 33px;
      .input-form{
        display: flex;
        
        .search{
          width: calc(100% - 26px);
          height: 33px;
          padding: 0 0 0 5px;
          font-size: 15px;
        }  
        .seacrhicon{
          font-size: 22px;
          color: white;
        }
        .submitbtn{
          width: 23px;
          height: 22px;
          border: 0;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 8px;
        }
        .sbtn{
          display: none;
        }
        
      }
    }
  }
   

  
  .search-nav{
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;

  
    ul{
      list-style: none;
      display: flex;
      justify-content: space-around;
      a{
        text-decoration: none;
        color: black;
        
        .new{
          padding-left: 16px;
          padding-right: 30px;
        }
      }
    }
    .left-lists{
      .category{
        padding: 0 30px;
      }
      // .categorytree{
      //   display: none;
      // }
      // :hover.categorytree-item {
      //   display: block;
      //   position: absolute;
      //   top: 55px;
      //   left: 0;

      // } マウスオーバー記述中
      
    }

  }
  .picture{
    height: 560px;
    background-size: cover;
    // background-image: image-url("todo.png");

    background-image: image-url("material/pict/bg-mainVisual-pict_pc.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;

    h2{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 60px;
      line-height: 1.2;
      color: #fff;
      margin-top: 50px;
    }
    

    p{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 30px 0;
    }
    .content-btn{
      height: 100%;
      display: flex;
      .abtn{
        height: 53px;
        width: 180px;
      }
      .gbtn{
        height: 53px;
        width: 180px;
        margin-left: 10px;
      }

    }
  }

}


#top-introduction{
    padding: 60px 20px;
  .title{
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 30px 10px;
    position: relative;
  }
  .title::after{
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 17px;
    transform: translateX(-50%);
  }
  
  .lists{
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

    .list{
      .list-pic{
        position: relative;

        .list-img{
          width: calc(100%/1.27);
          margin-bottom: 20px;
        }
        .number{
          display: inline-block;
          position: absolute;
          top: 0;
          left: 10;
          border-radius: 4%;
          font-size: 30px;
          text-align: center;
          padding: 10px 20px;
          background-color: #3CCACE;
          color: #fff;
        }
      }

      .list-text{
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
        span{
          color: #3CCACE;
        }
      }
      .list-intro{
        font-size: 18px;
        line-height: 1.5;
        margin-top: 20px;
        padding: 0 30px;
      }
    }
  }
}

.middle-picture{
  height: 400px;
  background-size: cover;
  background-image: url(material/pict/bg-topMiddleDl-pict.jpg);
  background-position: bottom right;
  position: relative;
  display: flex;
  align-items: center;

  .middle-picture-box{
    max-width: 1040px;
    width: 100%;
    margin: 0 auto;


    h2{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;

    }
    p{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 30px 0;
    }
    .content-btn{
      height: 100%;
      display: flex;
      .abtn{
        height: 53px;
        width: 180px;
      }
      .gbtn{
        height: 53px;
        width: 180px;
        margin-left: 10px;
      }
    }
  }
}

#features{
  padding: 80px 20px;
  .title-fea{
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }
  .title-fea::after{
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .list-fea{
    display: flex;
    text-align: center;
    justify-content: center;
    .item-fea{
      padding: 0 20px;
      .list-pic-fea{
        display: flex;
        flex-direction: column;
        align-items: center;
        .list-img-fea{
          display: flex;
          flex-direction: column;
          text-align: center;
          width: 60%;
          // width: calc(100%/1.6);
          height: auto;
        }
        .list-img-fea3{
          display: flex;
          flex-direction: column;
          text-align: center;
          width: 54.6%;
          // width: calc(100%/1.6);
          
        }
      }
      .list-text-fea{
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
      }
      .list-intro-fea{
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
        text-align: left;
        padding: 0 30px;
      }
    }
  }
}

#pickup-new{
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
  .title-new{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  .header-new{
    .text-new{
      font-size: 24px;
      text-decoration: none;
      color: #3CCACE;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .lists-new{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;

    .list-new{
      background-color: white;
      .img-new{
        width: 220px;
        height: 150px;
        position: relative;
        overflow: hidden;
        margin: 0;
        z-index: auto;
        .prod-img{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          z-index: auto;
          height: 150px;
          object-fit: cover;
        }
      }
      a{
        text-decoration: none;
        color: black;
      }
      .product-box{
        font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        padding: 16px;
      
          .prod-name{
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
          }
          .money-box{
            display: flex;
            justify-content: space-between;
            li{
              font-size: 16px;
            }
            .price{
              font-size: 16px;
            }
          }
          .tax{
            font-size: 10px;
          }
          
      }
      
      
    }
  }
}

.bottom-picture{
  height: 350px;
  background-size: cover;
  background-image: url(material/pict/bg-appBanner-pict.jpg);
  background-position: center;
  .bottom-picture-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 100px 40px;

    h2{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: center;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      font-size: 24px;
      font-weight: bold;
    }
    p{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 35px;
      color: #fff;
      text-align: center;
      margin-bottom: 10px;

    }
    .content-btn{
      height: 100%;
      display: flex;
      justify-content: center;
      .abtn{
        height: 53px;
        width: 180px;
      }
      .gbtn{
        height: 53px;
        width: 180px;
        margin-left: 10px;
      }
    }
  }

}

#footer{
  background-color: #272727;
  padding: 60px 0;

  .contents{
    display: flex;
    justify-content: space-around;
    margin: 0 140px;
    .title-foot{
      font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      color: #fff;
      text-align: center;
      margin: 0 0 20px;
      font-size: 16px;
      font-weight: bold;
    }
    a{
      color: white;
      text-decoration: none;

    }
    ul{
      color: #fff;
      font-size: 12px;
      line-height: 32px;
      text-align: center;
    }
    
  }
  .logo-foot{
    display: flex;
    justify-content: center;
    .biglogo{
      height: 45px;
      margin-bottom: -8px;
    }
  }
  .minilogo{
    color: white;
    text-align: center;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

  }
}

.purchase-box{
    width: 90px;
    height: 86px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
  .purchase-text{
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  }
  .camera-image{
    height: 54px;
    width: 54px;
  }
}

.post__drop__box__container{
  display: block;
  margin: 16px auto 0;
  display: flex;
  flex-wrap: wrap;

  //プレビュー表示欄のCSS
  .prev-content {
    display: flex;
    .preview-box {
      height: 162px;
      width: 112px;
      margin: 0 15px 10px 0;
      .upper-box {
        height: 112px;
        width: 100%;
        img{
          width: 112px;
          height: 112px;
        }
      }
      .lower-box {
        display: flex;
        text-align: center;
        .update-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
        .delete-box {
          color: #00b0ff;
          width: 50%;
          height: 50px;
          line-height: 50px;
          border: 1px solid #eee;
          background: #f5f5f5;
          cursor: pointer;
        }
      }
    }
  }

  //投稿クリックエリアのCSS
  .label-content{
    margin-bottom: 10px;
    width: 620px;
    .label-box {
      display: block;
      border: 1px dashed #ccc;
      position: relative;
      background: #f5f5f5;
      width: 100%;
      height: 162px;
      cursor: pointer;
      &__text-visible {
        position: absolute;
        top: 50%;
        left: 16px;
        right: 16px;
        text-align: center;
        font-size: 14px;
        line-height: 1.5;
        font-weight: bold;
        -webkit-transform: translate(0, -50%);
        transform: translate(0, -50%);
        pointer-events: none;
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }

  //file_fieldのcss
  .hidden-content {
    .hidden-field {
      // display: none;
    }
    .hidden-checkbox {
      // display: none;
    }
  }
}