// 基本設定//
.html,body{
  height: 100%;
}

body {
	font-size: 14px;
	font-family: 'Lato', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
}
// 基本設定ここまで//
.wrap{
  overflow:hidden;
}
header{
  .search-box{
    width: 85%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 90px;
    margin-bottom: -10px;
    .header-logo{
      width: 140px;
      height: 41px;
      margin-right: 30px;
      margin-top: 5px;
    }
    .search-box-text{
      width: 100%;
      height: 100%;
      margin-top: 33px;
      .input-form{
        display: flex;
        
        .search{
          width: calc(100% - 26px);
          height: 33px;
          padding: 0 0 0 5px;
          font-size: 15px;
        }  
        .seacrhicon{
          font-size: 22px;
          color: white;
        }
        .submitbtn{
          width: 23px;
          height: 22px;
          border: 0;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 8px;
        }
        .sbtn{
          display: none;
        }
        
      }
    }
  }
   

  
  .search-nav{
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 90px;

  
    ul{
      list-style: none;
      display: flex;
      justify-content: space-around;
      a{
        text-decoration: none;
        color: black;
        padding-left: 30px;
        
        .new{
          padding-left: 16px;
        }
      }
    }
    .left-lists{
      .category{
        padding: 0 30px;
      }
      // .categorytree{
      //   display: none;
      // }
      // :hover.categorytree-item {
      //   display: block;
      //   position: absolute;
      //   top: 55px;
      //   left: 0;

      // } マウスオーバー記述中
      
    }
  }
}


#top-introduction{
    padding: 60px 20px;
  .title{
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding: 30px 10px;
    position: relative;
  }
  .title::after{
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-bottom: 17px;
    transform: translateX(-50%);
  }
  
  .lists{
    display: flex;
    text-align: center;
    justify-content: space-around;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

    .list{
      .list-pic{
        position: relative;

        .list-img{
          width: calc(100%/1.27);
          margin-bottom: 20px;
        }
        .number{
          display: inline-block;
          position: absolute;
          top: 0;
          left: 10;
          border-radius: 4%;
          font-size: 30px;
          text-align: center;
          padding: 10px 20px;
          background-color: #3CCACE;
          color: #fff;
        }
      }

      .list-text{
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
        margin: 0 0 0 2px;
        span{
          color: #3CCACE;
        }
      }
      .list-intro{
        font-size: 18px;
        line-height: 1.5;
        margin-top: 20px;
        padding: 0 30px;
      }
    }
  }
}

.middle-picture{
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: bottom right;
  position: relative;
  display: flex;
  align-items: center;

  .middle-picture-box{
    max-width: 1040px;
    padding: 0px 200px;
    margin: 0 auto;
    position: absolute;

    h2{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      font-size: 27px;
      font-weight: bold;
      line-height: 1.4;

    }
    p{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 30px 0;
    }
    .content-btn{
      height: 100%;
      display: flex;
      .abtn{
        height: 53px;
        width: 180px;
      }
      .gbtn{
        height: 53px;
        width: 180px;
        margin-left: 10px;
      }
    }
  }
}

#features{
  padding: 80px 20px;
  .title-fea{
    text-align: center;
    font-size: 26px;
    line-height: 1.4;
    font-weight: bold;
    margin-bottom: 25px;
    padding-bottom: 15px;
    position: relative;
  }
  .title-fea::after{
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .list-fea{
    display: flex;
    text-align: center;
    justify-content: center;
    .item-fea{
      padding: 0 20px;
      .list-pic-fea{
        display: flex;
        flex-direction: column;
        align-items: center;
        .list-img-fea{
          display: flex;
          flex-direction: column;
          text-align: center;
          width: 60%;
          // width: calc(100%/1.6);
          height: auto;
        }
        .list-img-fea3{
          display: flex;
          flex-direction: column;
          text-align: center;
          width: 54.6%;
          // width: calc(100%/1.6);
          
        }
      }
      .list-text-fea{
        font-weight: bold;
        font-size: 24px;
        line-height: 50px;
      }
      .list-intro-fea{
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
        text-align: left;
        padding: 0 30px;
      }
    }
  }
}

#pickup-new{
  padding: 80px 0 0;
  background-color: whitesmoke;
  height: 100%;
  .title-new{
    text-align: center;
    font-size: 28px;
    line-height: 1.4;
    font-weight: bold;
  }
  .header-new{
    .text-new{
      font-size: 24px;
      text-decoration: none;
      color: #3CCACE;
      font-weight: bold;
      text-align: center;
      margin-bottom: 30px;
    }
  }
  .lists-new{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;

    .list-new{
      background-color: white;
        .prod-img{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          z-index: auto;
          height: 150px;
          object-fit: cover;
        }
      a{
        text-decoration: none;
        color: black;
      }
      .product-box{
        font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        padding: 16px;
      
          .prod-name{
            overflow: hidden;
            line-height: 1.5;
            font-size: 16px;
            text-align: left;
          }
          .money-box{
            display: flex;
            justify-content: space-between;
            li{
              font-size: 16px;
            }
            .price{
              font-size: 16px;
            }
          }
          .tax{
            font-size: 10px;
          }
          
      }
      
      
    }
  }
}


#footer{
  background-color: #272727;
  padding: 60px 0;

  .contents{
    display: flex;
    justify-content: space-around;
    margin: 0 140px;
    .title-foot{
      font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      color: #fff;
      text-align: center;
      margin: 0 0 20px;
      font-size: 16px;
      font-weight: bold;
    }
    a{
      color: white;
      text-decoration: none;

    }
    ul{
      color: #fff;
      font-size: 12px;
      line-height: 32px;
      text-align: center;
    }
    
  }
  .logo-foot{
    display: flex;
    justify-content: center;
    .biglogo{
      height: 45px;
      margin-bottom: -8px;
    }
  }
  .minilogo{
    color: white;
    text-align: center;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

  }
}

.purchase-box{
    width: 90px;
    height: 86px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
  .purchase-text{
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  }
  .camera-image{
    height: 54px;
    width: 54px;
  }
}
input#content.search {
  margin: 0 0;
}

// 投稿ページ
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
}
.header-logo-post {
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 15px;
}
.head-logo {
  height: 60px;
  width: 220px;
  padding-top: 30px;
}
.exhibition {
  background-color: white;
  padding: 10px 50px;
}
p {
  font-size: 14px;
  padding-left: 5px;
  font-weight: 600;
  margin-top: 30px;
}
.label {
  font-style: 14px;
  color: rgb(136, 136, 136);
  padding-top: 30px;
  margin-top: 10px;
}
.image {
  margin-bottom: 16px;
}
.max-10 {
  font-size: 12px;
}
select {
 height: 48px; 
 width: 614px;
 border: 2px solid #eee;
 margin: 20px 0;
 padding:0 5px;
 border-radius: 5px;

}
.category-form {
  display: flex;
  flex-direction: column;
}
input {
 height: 48px; 
 width: 600px;
 border: 2px solid #eee;
 margin: 20px 0;
 padding:0 5px;
 border-radius: 5px;
}
.about {
  margin-top: 30px;
}
textarea {
  width: 600px;
  font-size: 16px;
  padding:10px 0 0 10px;
  border: 2px solid #eee;
}
.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  input {
    width: 400px;
    text-align: center;
    background-color: #3CCACE;
    border:1px solid rgb(136, 136, 136);
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    height: 48px;
  }
  input:hover {
    opacity: 0.8;
  }
  a {
    text-align: center;
    margin: 10px 0;
    text-decoration: none;
  }
  a:hover{
    opacity: 0.8;
   }
}
.footer-logo {
  height: 70px;
  width: 230px;
  margin-top: 30px;
}

.minilogo {
  text-align: center;
  color: #333;
}
.fee {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  border-top: 1px solid #eee;
}
input#post_price {
  text-align: right;
  width: 300px;
}
.price-num {
  display: flex;
  justify-content: space-between;

// 投稿ページ
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: whitesmoke;
}
.header-logo-post {
  text-align: center;
  background-color: whitesmoke;
  padding-bottom: 15px;
}
.head-logo {
  height: 60px;
  width: 220px;
  padding-top: 30px;
}
.exhibition {
  background-color: white;
  padding: 10px 50px;
//////////// 以下、商品詳細ページの記述////////////////////

// 基本設定//
.html,body{
  height: 100%;
}
body {
	font-size: 14px;
	font-family: 'Lato', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
	-webkit-text-size-adjust: 100%;
}
// 基本設定ここまで//

.wrap{
  overflow: hidden;
}
//検索バー
header{
  .search-box{
    width: 85%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 90px;
    margin-bottom: -10px;
    .header-logo{
      width: 140px;
      height: 41px;
      margin-right: 30px;
      margin-top: 5px;
    }
    .search-box-text{
      width: 100%;
      height: 100%;
      margin-top: 33px;
      .input-form{
        display: flex;
        .search{
          width: calc(100% - 26px);
          height: 33px;
          padding: 0 0 0 5px;
          font-size: 15px;
        }  
        .submitbtn{
          width: 23px;
          height: 22px;
          border: 0;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 8px;
        }
        
      }
    }
  }
   

  
  .search-nav{
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 90px;
    ul{
      list-style: none;
      display: flex;
      justify-content: space-around;
      a{
        text-decoration: none;
        color: black;
        
        .new{
          padding-left: 16px;
          padding-right: 30px;
          
        }
      }
    }
    .left-lists{
      .category{
        padding: 0 30px;
      }
    }

  }
  
}
p {
  font-size: 14px;
  padding-left: 5px;
  font-weight: 600;
  margin-top: 30px;
}
.label {
  font-style: 14px;
  color: rgb(136, 136, 136);
  padding-top: 30px;
  margin-top: 10px;
}
.image {
  margin-bottom: 16px;
}
.max-10 {
  font-size: 12px;
}
select {
 height: 48px; 
 width: 614px;
 border: 2px solid #eee;
 margin: 20px 0;
 padding:0 5px;
 border-radius: 5px;

}
.category-form {
  display: flex;
  flex-direction: column;
}
input {
 height: 48px; 
 width: 600px;
 border: 2px solid #eee;
 margin: 20px 0;
 padding:0 5px;
 border-radius: 5px;
}
.about {
  margin-top: 30px;
}
textarea {
  width: 600px;
  font-size: 16px;
  padding:10px 0 0 10px;
  border: 2px solid #eee;
}
.submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  input {
    width: 400px;
    text-align: center;
    background-color: #3CCACE;
    border:1px solid rgb(136, 136, 136);
    color: #fff;
    font-weight: bold;
    border-radius: 4px;
    height: 48px;
  }
  input:hover {
    opacity: 0.8;
  }
  a {
    text-align: center;
    margin: 10px 0;
    text-decoration: none;
  }
  a:hover{
    opacity: 0.8;
   }
}
.footer-logo {
  height: 70px;
  width: 230px;
  margin-top: 30px;
}

.minilogo {
  text-align: center;
  color: #333;
}
.fee {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  border-top: 1px solid #eee;
}
input#post_price {
  text-align: right;
  width: 300px;
}
.price-num {
  display: flex;
  justify-content: space-between;
//パンくずリスト
.bredcrumbs{
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  position: relative;
  padding: 0px 60px;
  height: 55px;
    ul{
      padding: 17px 16px;
      font-size: 14px;
      margin: 0 auto;
      display: block;
      li{
        padding: 0 10px 0 0;
        float: left;
      }
      a{
        color: black;
        text-decoration: none;
      }
      
    }
}
//メイン画像〜商品詳細まで
#main{
  background: #f8f8f8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 90px;


  .content{
    background-color: #fff;
    margin-top: 40px;
    height: 1240px;
    .itembox{
      &__name{
        text-align: center;
        font-weight: bold;
        font-size: 24px;
        padding: 20px 0;
      }
      &__body{
        display: flex;
        justify-content: center;
        .main-image{
          height: 350px;
          width: 500px;
          object-fit: cover;
        }
        .imgbox-small{
          display: flex;
          justify-content: center;
          .subimage{
            margin: 0 10px;

          }
        }
      }
      &__price{
        height: 77px;
        display: flex;
        justify-content: center;
        flex-direction: column;

        .price{
          font-size: 46px;
          font-weight: bold;
          margin: 0 10px 0 0;
          text-align: center;
          line-height: 50px;
          font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
        }
        .itembox__tax{
          display: flex;
          justify-content: center;
          span{
            font-size: 16px;
            padding: 0 3px;
          }
        }
      
      }
      &__text{
        font-size: 16px;
        font-weight: bold;
        padding: 0 40px;
      }

      &__detail{
        padding: 24px 40px 40px 40px;

        table{
          font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
          width: 100%;
          height: 375px;
          border-collapse: collapse;
          border: 1px solid #f8f8f8;
          th{
            width: 20%;
            background-color: #eee;
            font-weight: 400;
            padding: 8px;
            border: 1px solid #dedede;
            font-size: 14px;
            text-align: center;
          }
          td{
            width: 61%;
            padding: 15px 15px;
            border: 1px solid #dedede;
            font-size: 14px;
          }
          a{
            text-decoration: none;
            color: #3CCACE;
          }
        }
      }
      &__area{
        display: flex;
        justify-content: space-between;
        padding: 0px 40px;
        margin-top: -10px;
        .likebtn-box{
          margin-right: auto;
          padding: 8px 12px;
          border-radius: 40px;
          color: #3CCACE;
          border: 1px solid #ffb340;
        }
        .report{
          padding: 7px 10px;
          display: inline-block;
          border-radius: 4px;
          color: #333;
          border: 1px solid #333;
          text-decoration: none;
          a{
            text-decoration: none;
            color: black;
          }
        }
      }
    } 
  }
  .commentbox{
    margin-top: 10px;
    background-color: white;
    height: 290px;

    .new-comment{
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 24px;
    }
    p{
      padding: 10px;
      font-size: 14px;
      background-color: #f8f8f8;
      margin: 20px 0;
      text-align: left;
      font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
    }
    .commentbtn{
      text-align: center;
      line-height: 48px;
      background: #3CCACE;
      border: 1px solid #3CCACE;
      color: #fff;
      font-size: 18px;
      border-radius: 100px;
      display: block;
      width: 400px;
      margin: 0 auto;
    }
  }
}
//リンク（あなたへのおすすめ）
.links{
  display: flex;
  justify-content: space-between;
  background: #f8f8f8;
  padding: 10px 90px;
  a{
    text-decoration: none;
    color: #3CCACE;
    font-size: 16px;
  }
}
.recommended-items{
  padding: 10px 90px;
  background: #f8f8f8;
  a{
    display: block;
    margin: 24px 0 8px;
    color: #3CCACE;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
    position: relative;
  }
//ここから先はトップページのリンクを貼る//
  &__lists{
    display: flex;
    flex-direction: column;
    .recommended-items__list{
      width: 220px;
      height: 150px;
      position: relative;
      overflow: hidden;
      margin: 0;
      z-index: auto;
      .prod-img{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: auto;
        height: 150px;
        object-fit: cover;
      }

    }
    .recommended-items__img{
      font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      padding: 16px;
      width: 200px;
      display: flex;
      flex-direction: column;
      background-color: white;
      margin-bottom: 40px;
        .prod-name{
          overflow: hidden;
          line-height: 1.5;
          font-size: 16px;
          text-align: left;
        }
        .money-box{
          display: flex;
          justify-content: space-between;
          li{
            font-size: 16px;
          }
          .price{
            font-size: 16px;
          }
        }
        .tax{
          font-size: 10px;
        }
        
    }

  }
//（ここまで）トップページのリンクを貼る//

}

#footer{
  background-color: #272727;
  padding: 60px 0;

  .contents{
    display: flex;
    justify-content: space-around;
    margin: 0 140px;
    .title-foot{
      font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      color: #fff;
      text-align: center;
      margin: 0 0 20px;
      font-size: 16px;
      font-weight: bold;
    }
    a{
      color: white;
      text-decoration: none;

    }
    ul{
      color: #fff;
      font-size: 12px;
      line-height: 32px;
      text-align: center;
    }
    
  }
  .logo-foot{
    display: flex;
    justify-content: center;
    .biglogo{
      height: 45px;
      margin-bottom: -8px;
    }
  }
  .minilogo{
    color: white;
    text-align: center;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

  }
}

.purchase-box{
    width: 90px;
    height: 86px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
  .purchase-text{
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  }
  .camera-image{
    height: 54px;
    width: 54px;
  }
}
}
}
}

// 出品完了ページ
.contents-create {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f8f8f8;
  .success {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 45vw;
    background-color: #fff;
    border-radius: 5px;
    .post-success {
      font-size: 17px;
      margin-bottom: 20px;
      margin-top: 50px;
      font-weight: bold;
    }
    .success-attention {
      font-size: 14px;
      margin-top: 0;
      font-weight: normal;
      padding-left: 0;
      margin-bottom: 20px;
      .success-a {
        color: tomato;
        text-decoration: none;
      }
      .success-a:hover {
        opacity: 0.8;
        border-bottom: 1px solid tomato;
      }
    }
    .btns {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .btn {
        text-decoration: none;
        margin-bottom: 20px;
      }
      .btn-again {
        background-color: #3ccace;
        font-size: 17px;
        color: #fff;
        width: 340px;
        height: 45px;
        text-align: center;
        display: block;
        font-weight: 600;
        line-height: 45px;
        border-radius: 5px;
      }
      .btn-again:hover {
        opacity: 0.9;
      }
      .btn-watch {
        background-color: #3ccace;
        font-size: 17px;
        color: #fff;
        width: 340px;
        height: 45px;
        text-align: center;
        display: block;
        font-weight: 600;
        line-height: 45px;
        border-radius: 5px;
      }
      .btn-watch:hover {
        opacity: 0.9;
      }
      .btn-mypage {
        margin-bottom: 10px;
        color: #333;
      }
      .btn-mypage:hover {
        opacity: 0.7;
      }
      .btn-top {
        color: #333;
      }
      .btn-top:hover {
        opacity: 0.7;
      }
    }
  }
}


// 詳細ページ
.wrapper {
  background-color: whitesmoke;
}
.show {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  .show-contents {
    width: 53vw;
    .box {
      background-color: #fff;
      display: flex;
      justify-content: center;
      margin:0;
      padding: 20px 80px;
      .image-box {
        width: 280px;
        height: 300px;
        background-color: #333;
        margin: 0 30px 0 0;
      }
    }
    .post-box {
      margin: 0;
      font-size: 14px;
      text-align: left;
      border: 1px solid #333;
      font-weight: normal;
      padding: 10px 20px 10px 10px;
      color: #333;
      border: 0.5px solid #eee;
    }
  }
}

.post-box-name {
  background-color: #fff;
  text-align: center;
  padding-top: 30px;
  font-size: 20px;
}
.post-box-price {
  background-color: #fff;
  text-align: center;
  padding-top: 30px;
  margin-top: 0;
  font-size: 30px;
}
.image {
  margin-top: 0;
}
.post-box-about {
  background-color: #fff;
  padding: 30px 0 30px 20px;
  margin-top: 0;
  font-size: 18px;
  margin-bottom: 30px;
}
.table-left {
  background-color: whitesmoke;
}
.span-fee {
  font-size: 14px;
  margin-left: 10px;
  font-weight: normal;
}
.show-item {
  width: 300px;
  table {
   width: 350px;
  }
}

.show-btn {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 54vw;
  margin-bottom: 50px;
  .edit-btn {
    text-decoration: none;
    width: 45vw;
    background-color: #3ccace;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
  }
  .edit-btn:hover {
    opacity: 0.8;
  }
  .edit-btn a {
    text-decoration: none;
    color: #fff;
    padding: 19px 100px;
  }
  .destroy-btn {
    text-decoration: none;
    width: 45vw;
    background-color: gray;
    text-align: center;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    margin-bottom: 40px;
    margin-top: 0;
  }
  .destroy-btn:hover {
    opacity: 0.8;
  }
  .destroy-btn a {
    text-decoration: none;
    color: #eee;
    padding: 19px 100px;
  }
  .or {
    font-weight: normal;
    font-size: 16px;
    margin: 15px;
  }
}
.post-box-about {
  padding: 20px 80px;
  font-weight: normal;
  font-size: 16px;
}
.post-box-image-top {
  display: flex;
  justify-content: center;
  img {
    height: 100px;
    width: 80px;
    text-align: center;
  }
}

// トップページ一覧
.product {
  height: 36vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 30px;
  background-color: #fff;
  position: relative;
}
.post-neme-top {
  font-size: 16px;
  margin-top: 0;
}

.list-new {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  background-color: whitesmoke;
}

.itembox-new {
  background-color: whitesmoke;
  a {
    background-color: whitesmoke;
  }
} 
.img-new-sold {
  text-align: center;
  margin-right: 30px;
  border-top: 60px solid #ea352d ;
  border-right: 60px solid transparent;
  border-bottom: 60px solid transparent;
  border-left: 60px solid #ea352d ;
  z-index:100;
  top:0px;
  position: absolute;
}
.img-new-sold-text {
  transform: rotate(-45deg);
  font-size: 28px;
  margin:-45px -15px 0px -70px;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 600;
}
.Notification {
  background-color: tomato;
  color: white;
  font-size: 1.5rem;
  font-family: "SoukouMincho";
  text-align: center;
}

// 購入確認ページ
.purchase {
  background-color: whitesmoke;
  height: 100vh;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  .p-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 40vw;
    height: 60vh;
    .really {
      font-size: 30px;
      margin-bottom: 40px;
    }
    .fee {
      font-size: 18px;
      margin-bottom: 30px;
    }
    .pay {
      font-size: 16px;
    }
    .p-btn {
      width: 20vw;
      height: 6vh;
      margin-top: 40px;
      background-color: #3CCACE;
      border: 1px solid #eee;
      border-radius: 5px;
      color: #fff;
    }
    .p-btn:hover {
        opacity: 0.8;
      }
  }
}

.slick {
  width: 300px;
  height: 300px;
  text-align: center;
}

.img-new { 
  width: 16vw;
  padding-bottom: 20px;
  padding-top: 0;
  height: 18vh;
  .post-box-image-item  {
    text-align: center;
    img {
      width: 12vw;
      height: 20vh;
      text-align: center;
    }
  }
}
