// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// 基本設定//
.html,body{
  height: 100%;
}

body {
	font-size: 14px;
	font-family: 'Lato', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
}
// 基本設定ここまで//


.wrap{
  overflow: hidden;
}
//検索バー
header{
  .search-box{
    width: 85%;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 90px;
    margin-bottom: -10px;
    .header-logo{
      width: 140px;
      height: 41px;
      margin-right: 30px;
      margin-top: 5px;
    }
    .search-box-text{
      width: 100%;
      height: 100%;
      margin-top: 33px;
      .input-form{
        display: flex;
        .search{
          width: calc(100% - 26px);
          height: 33px;
          padding: 0 0 0 5px;
          font-size: 15px;
        }  
        .submitbtn{
          width: 23px;
          height: 22px;
          border: 0;
          cursor: pointer;
          background-color: #3CCACE;
          padding: 8px;
        }
        
      }
    }
  }
   

  
  .search-nav{
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    ul{
      list-style: none;
      display: flex;
      justify-content: space-around;
      a{
        text-decoration: none;
        color: black;
        
        .new{
          padding-left: 16px;
          padding-right: 30px;
        }
      }
    }
    .left-lists{
      .category{
        padding: 0 30px;
      }
    }

  }
  .picture{
    height: 560px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    display: flex;
    align-items: center;
    .picture-box {
      position: absolute;
      padding: 0px 60px;
    }
      h2{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
        margin-top: 50px;
      }
    

    p{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 18px;
      color: #fff;
      line-height: 1.77778;
      margin: 16px 0 30px 0;
    }
    .content-btn{
      height: 100%;
      display: flex;
      .abtn{
        height: 53px;
        width: 180px;
      }
      .gbtn{
        height: 53px;
        width: 180px;
        margin-left: 10px;
      }

    }
  }

}
//パンくずリスト
.bredcrumbs{
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
  padding: 0px 60px;
  height: 55px;
    ul{
      padding: 17px 16px;
      font-size: 14px;
      margin: 0 auto;
      display: block;
      li{
        padding: 0 10px 0 0;
        float: left;
      }
      a{
        color: black;
        text-decoration: none;
      }
      
    }
}
//メイン画像〜商品詳細まで
.main{
  background: #f8f8f8;
  display: flex;
  padding: 0 90px;
  justify-content: space-around;
  padding-bottom: 150px;

  
  .side-bar{
    margin-top: 40px;
    height: auto;
    width: 300px;
    &__mypage{
      ul{
        background-color: #fff;
        li{
          border: 1px solid #f8f8f8;
          padding: 15px;
          font-size: 16px;
          i{
            float: right;
            color: lightgrey;
          }
        }
        .list{
          text-decoration: none;
          color: black;
        }
      }
    }
    &__setting{
      margin-top: 30px;
      h1{
        font-size: 18px;
        font-weight: bold;
      }
      ul{
        background-color: #fff;
        li{
          border: 1px solid #f8f8f8;
          padding: 15px;
          font-size: 16px;
          i{
            float: right;
            color: lightgrey;
          }
        }
        .list{
          text-decoration: none;
          color: black;
        }
      }
    }
  }

  .main-page{
    margin-top: 40px;
    height: auto;
    width: 800px;
    margin-left: 50px;
    &__profile{
      background-color: #fff;
      &__banner{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 250px;
        background-image: image-url('material/product-img/a001.png');
        .profile-icon{
          border-radius: 50px;
          height: 100px;
          width: 100px;
          border: 2px solid blue;
        }
        p{
          margin-top: 8px;
          font-size: 16px;
        }
      }
      &__list{
        h2{
          font-size: 18px;
          font-weight: bold;
          padding: 30px;
          text-align: center;

        }
        ul{
          li{
            border: 1px solid #f8f8f8;
            padding: 25px;
            font-size: 16px;
          }
          .list-msg{
            text-decoration: none;
            color: black;
          }
          .bottom{
            text-align: center;
            background-color:#f8f8f8;
            border: 20px solid white;
          }
        }
      }
    }
    
    &__history{
      margin-top: 50px;
      background-color: #fff;
      &__list{
        h2{
          font-size: 18px;
          font-weight: bold;
          padding: 30px;
          text-align: center;

        }
        ul{
          li{
            border: 1px solid #f8f8f8;
            padding: 25px;
            font-size: 16px;
          }
          .bottom{
            text-align: center;
            background-color:#f8f8f8;
            border: 20px solid white;
          }
        }
      }
    }

  }

}      




        

//いますぐダウンロード
.bottom-picture{
  height: 350px;
  width: 100%;
  display: flex;
  .bottom-picture-box{
    padding: 100px 500px;
    position: absolute;
    align-items: center;
    
    h2{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: center;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      font-size: 24px;
      font-weight: bold;
    }
    p{
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 35px;
      color: #fff;
      text-align: center;
      margin-bottom: 10px;

    }
    .content-btn{
      height: 100%;
      display: flex;
      justify-content: center;
      .abtn{
        height: 53px;
        width: 180px;
      }
      .gbtn{
        height: 53px;
        width: 180px;
        margin-left: 10px;
      }
    }
  }

}

#footer{
  background-color: #272727;
  padding: 60px 0;

  .contents{
    display: flex;
    justify-content: space-around;
    margin: 0 140px;
    .title-foot{
      font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
      color: #fff;
      text-align: center;
      margin: 0 0 20px;
      font-size: 16px;
      font-weight: bold;
    }
    a{
      color: white;
      text-decoration: none;

    }
    ul{
      color: #fff;
      font-size: 12px;
      line-height: 32px;
      text-align: center;
    }
    
  }
  .logo-foot{
    display: flex;
    justify-content: center;
    .biglogo{
      height: 45px;
      margin-bottom: -8px;
    }
  }
  .minilogo{
    color: white;
    text-align: center;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;

  }
}

.purchase-box{
    width: 90px;
    height: 86px;
    background: #3CCACE;
    text-align: center;
    border-radius: 4%;
    bottom: 32px;
    right: 32px;
    position: fixed;
    padding: 15px;
  .purchase-text{
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
    font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  }
  .camera-image{
    height: 54px;
    width: 54px;
  }
}


// ======================================
// newページのcss
// =====================================

.main-page{
  &__logout{
    background-color: white;
    height: 150px;
    display: flex;
    :hover {
      opacity: 0.9;
    }
    &__btn{
      background-color: #3CCACE;
      color: white;
      height: 50px;
      width: 200px;
      border-radius: 5px;
      text-align: center;
      margin: auto;
      line-height: 50px;
      a {
        text-decoration: none;
        color: #fff;
      }
      a:hover {
        opacity: 1;
      }
    }
  }
}
input#user_email {
  width: 300px;

}
input#user_password {
  width: 300px;
}
input#user_remember_me {
  width: 300px;
}