@charset "UTF-8";
.html, body {
  height: 100%;
}

body {
  font-size: 14px;
  font-family: 'Lato', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
}

header .search-box {
  width: 85%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 90px;
  margin-bottom: -10px;
}

header .search-box .header-logo {
  width: 140px;
  height: 41px;
  margin-right: 30px;
  margin-top: 5px;
}

header .search-box .search-box-text {
  width: 100%;
  height: 100%;
  margin-top: 33px;
}

header .search-box .search-box-text .input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .search-box .search-box-text .input-form .search {
  width: calc(100% - 26px);
  height: 33px;
  padding: 0 0 0 5px;
  font-size: 15px;
}

header .search-box .search-box-text .input-form .submitbtn {
  width: 23px;
  height: 22px;
  border: 0;
  cursor: pointer;
  background-color: #3CCACE;
  padding: 8px;
}

header .search-nav {
  height: 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 60px;
}

header .search-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .search-nav ul a {
  text-decoration: none;
  color: black;
}

header .search-nav ul a .new {
  padding-left: 16px;
  padding-right: 30px;
}

header .search-nav .left-lists .category {
  padding: 0 30px;
}

header .picture {
  height: 560px;
  background-size: cover;
  background-image: url(material/pict/bg-mainVisual-pict_pc.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .picture h2 {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 60px;
  line-height: 1.2;
  color: #fff;
  margin-top: 50px;
}

header .picture p {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 18px;
  color: #fff;
  line-height: 1.77778;
  margin: 16px 0 30px 0;
}

header .picture .content-btn {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .picture .content-btn .abtn {
  height: 53px;
  width: 180px;
}

header .picture .content-btn .gbtn {
  height: 53px;
  width: 180px;
  margin-left: 10px;
}

#top-introduction {
  padding: 60px 20px;
}

#top-introduction .title {
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 25px;
  padding: 30px 10px;
  position: relative;
}

#top-introduction .title::after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3CCACE;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 17px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#top-introduction .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

#top-introduction .lists .list .list-pic {
  position: relative;
}

#top-introduction .lists .list .list-pic .list-img {
  width: calc(100%/1.27);
  margin-bottom: 20px;
}

#top-introduction .lists .list .list-pic .number {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 10;
  border-radius: 4%;
  font-size: 30px;
  text-align: center;
  padding: 10px 20px;
  background-color: #3CCACE;
  color: #fff;
}

#top-introduction .lists .list .list-text {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
  margin: 0 0 0 2px;
}

#top-introduction .lists .list .list-text span {
  color: #3CCACE;
}

#top-introduction .lists .list .list-intro {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 20px;
  padding: 0 30px;
}

.middle-picture {
  height: 400px;
  background-size: cover;
  background-image: url(material/pict/bg-topMiddleDl-pict.jpg);
  background-position: bottom right;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-picture .middle-picture-box {
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
}

.middle-picture .middle-picture-box h2 {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  text-align: left;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.4;
}

.middle-picture .middle-picture-box p {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 18px;
  color: #fff;
  line-height: 1.77778;
  margin: 16px 0 30px 0;
}

.middle-picture .middle-picture-box .content-btn {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle-picture .middle-picture-box .content-btn .abtn {
  height: 53px;
  width: 180px;
}

.middle-picture .middle-picture-box .content-btn .gbtn {
  height: 53px;
  width: 180px;
  margin-left: 10px;
}

#features {
  padding: 80px 20px;
}

#features .title-fea {
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
}

#features .title-fea::after {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3CCACE;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

#features .list-fea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#features .list-fea .item-fea {
  padding: 0 20px;
}

#features .list-fea .item-fea .list-pic-fea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#features .list-fea .item-fea .list-pic-fea .list-img-fea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 60%;
  height: auto;
}

#features .list-fea .item-fea .list-pic-fea .list-img-fea3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  width: 54.6%;
}

#features .list-fea .item-fea .list-text-fea {
  font-weight: bold;
  font-size: 24px;
  line-height: 50px;
}

#features .list-fea .item-fea .list-intro-fea {
  font-size: 18px;
  line-height: 1.5;
  margin: 16px 0 0;
  text-align: left;
  padding: 0 30px;
}

#pickup-new {
  padding: 80px 0 0;
  background-color: #f8f8f8;
  height: 100%;
}

#pickup-new .title-new {
  text-align: center;
  font-size: 28px;
  line-height: 1.4;
  font-weight: bold;
}

#pickup-new .header-new .text-new {
  font-size: 24px;
  text-decoration: none;
  color: #3CCACE;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}

#pickup-new .lists-new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 80px;
}

#pickup-new .lists-new .list-new {
  background-color: white;
}

#pickup-new .lists-new .list-new .img-new {
  width: 220px;
  height: 150px;
  position: relative;
  overflow: hidden;
  margin: 0;
  z-index: auto;
}

#pickup-new .lists-new .list-new .img-new .prod-img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: auto;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

#pickup-new .lists-new .list-new a {
  text-decoration: none;
  color: black;
}

#pickup-new .lists-new .list-new .product-box {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  padding: 16px;
}

#pickup-new .lists-new .list-new .product-box .prod-name {
  overflow: hidden;
  line-height: 1.5;
  font-size: 16px;
  text-align: left;
}

#pickup-new .lists-new .list-new .product-box .money-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#pickup-new .lists-new .list-new .product-box .money-box li {
  font-size: 16px;
}

#pickup-new .lists-new .list-new .product-box .money-box .price {
  font-size: 16px;
}

#pickup-new .lists-new .list-new .product-box .tax {
  font-size: 10px;
}

.bottom-picture {
  height: 350px;
  background-size: cover;
  background-image: url(material/pict/bg-appBanner-pict.jpg);
  background-position: center;
}

.bottom-picture .bottom-picture-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 100px 40px;
}

.bottom-picture .bottom-picture-box h2 {
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  text-align: center;
  max-width: 1040px;
  width: 100%;
  margin: 0 auto;
  font-size: 24px;
  font-weight: bold;
}

.bottom-picture .bottom-picture-box p {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  font-size: 35px;
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.bottom-picture .bottom-picture-box .content-btn {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-picture .bottom-picture-box .content-btn .abtn {
  height: 53px;
  width: 180px;
}

.bottom-picture .bottom-picture-box .content-btn .gbtn {
  height: 53px;
  width: 180px;
  margin-left: 10px;
}

#footer {
  background-color: #272727;
  padding: 60px 0;
}

#footer .contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 140px;
}

#footer .contents .title-foot {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  color: #fff;
  text-align: center;
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: bold;
}

#footer .contents a {
  color: white;
  text-decoration: none;
}

#footer .contents ul {
  color: #fff;
  font-size: 12px;
  line-height: 32px;
  text-align: center;
}

#footer .logo-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#footer .logo-foot .biglogo {
  height: 45px;
  margin-bottom: -8px;
}

#footer .minilogo {
  color: white;
  text-align: center;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.purchase-box {
  width: 90px;
  height: 86px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
}

.purchase-box .purchase-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

.purchase-box .camera-image {
  height: 54px;
  width: 54px;
}
/*# sourceMappingURL=styles.css.map */